.split-pane  {
  -fx-padding: 0
  -fx-background-insets: 0

  .split-pane-divider {
    -fx-padding: 0
  }
}

.scroll-bar, .corner {
  -fx-background-color: transparent
}

.tree-view {
  -fx-padding: 0
  -fx-background-color: transparent

  .tree-cell {
    -fx-background-color: transparent

    &:focused {
      -fx-text-fill: -fx-light-text-color
      -fx-background-color: -fx-accent

      .tree-disclosure-node .arrow {
        -fx-background-color: -fx-light-text-color
      }
    }

    .tree-disclosure-node .arrow {
      -fx-background-color: -fx-mark-color
    }
  }
}

.tab-pane {
  .tab-header-area {
    -fx-padding: 0

    .tab-header-background  {
      -fx-background-color: transparent
    }

    .tab {
      -fx-background-color: -fx-control-inner-background
      -fx-border-color: -fx-control-inner-background
      -fx-background-radius: 0
      -fx-background-insets: 0
      -fx-border-width: 0 0 1 0

      &:selected {
        -fx-border-color: -fx-accent
      }

      .focus-indicator {
        -fx-border-width: 0
      }
    }
  }

  .tab-content-area .virtualized-scroll-pane {
    -fx-background-color: -fx-control-inner-background

    .styled-text-area {
      * {
        -fx-font-family: "JetBrains Mono"
        -fx-font-size: 16
      }

      .selection {
        -fx-fill: -fx-accent
      }

      .lineno {
        -fx-text-fill: -fx-mark-color
        -fx-font-style: normal
        -fx-background-color: -fx-control-inner-background
      }
    }
  }
}