.keyword {
  -fx-fill: blue
  -fx-font-weight: bold
}
.string {
  -fx-fill: green
}
.paren, .bracket, .brace, .semicolon {
  -fx-fill: -fx-text-background-color
}
.comment {
  -fx-fill: gray
  -fx-font-style: italic
}